.feature_barGraph_bar {
  width: 15px;
  float: left;
  text-align: center;
  position: relative;
}

.bar_letters {
  display: inline-block;
  background-color: teal;
  font-size: 200%;
  border-radius: 0 0 10px 10px;
  color: #eeeeee;
  text-align: center;
}

.bar_nonLetters {
  display: inline-block;
  background-color: teal;
  font-size: 200%;
  border-radius: 0 0 10px 10px;
  color: #eeeeee;
  text-align: center;
}